.DS_Store
.dart_tool/

.packages
.pub/

build/
.idea
*.iml
android/.settings
exampleObjC
example/android/app/local.properties
example/android/app/google-services.json
example/ios/Runner/GoogleService-Info.plist
**pubspec.lock
/geofence/example/android/gradle/wrapper/gradle-wrapper.jar
**.flutter-plugins-dependencies
**.flutter-plugins
**pubspec_overides.yaml
